In [2]:
import sys
sys.path.append('../')

In [3]:
import data_setup as ds

In [5]:
data = ds.load_derived(path="../../data/")

(firm_cites, patent_cites, patent_data, patent_distribution)

In [13]:
data_firm_level, patents_firm_merge, cites = ds.load_data(dfs=['data_firm_level', 'patents_firm_merge', 'cites'], path="../../data/")

In [22]:
format = ds.format_patent_data(
    patents_firm_merge, 
    keep=['index', 'patnum', 'fdate', 'idate', 'pdate', 'permno', 'patent_class',
    'subclass', 'ncites', 'xi', 'year', 'Npats', 'Tcw', 'Tsm', 'tcw', 'tsm'],
    date_cols=['idate'],
    save=False
    )

In [35]:
format.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1801306 entries, 0 to 1844880
Data columns (total 16 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   index         1801306 non-null  int32
 1   patnum        1801306 non-null  int32
 2   fdate         1801306 non-null  object
 3   idate         1801306 non-null  datetime64[ns]
 4   pdate         1801306 non-null  object
 5   permno        1801306 non-null  float64
 6   patent_class  1801306 non-null  int32
 7   subclass      1801306 non-null  object
 8   ncites        1801306 non-null  float64
 9   xi            1801306 non-null  float64
 10  year          1801306 non-null  int32
 11  Npats         1801306 non-null  int32
 12  Tcw           1801306 non-null  float64
 13  Tsm           1801306 non-null  float64
 14  tcw           1635631 non-null  float64
 15  tsm           1635631 non-null  float64
dtypes: datetime64[ns](1), float64(7), int32(5), object(3)
memory usage: 263.8+ MB

In [29]:
format2 = ds.format_patent_data(patents_firm_merge, keep=['year', 'permno', 'xi', 'Npats', 'Tcw', 'Tsm', 'patent_class'], na_cols=['patent_class', 'xi'])

         year   permno        xi  Npats        Tcw       Tsm  patent_class
0        1926  10006.0  0.046886     10  18.980768  0.375693           403
1        1926  10006.0  0.031358     10  18.980768  0.375693            74
2        1926  10006.0  0.046886     10  18.980768  0.375693           295
3        1926  10006.0  0.046886     10  18.980768  0.375693           164
4        1926  10006.0  0.046886     10  18.980768  0.375693           267
...       ...      ...       ...    ...        ...       ...           ...
1844876  1998  93236.0  0.107588      1   2.480992  0.107588           435
1844877  1985  93252.0  0.141288      1   2.896310  0.141288           126
1844878  1989  93252.0  0.092077      1   1.415194  0.092077           126
1844879  1986  93287.0  0.457411      2   4.185905  0.830930           324
1844880  1986  93287.0  0.373519      2   4.185905  0.830930           193

[1801306 rows x 7 columns]

In [ ]:
format2

In [32]:
dummies = ds.add_dumies(format2, extra={"xi": "mean", "Npats": "first", "Tcw": "first", "Tsm": "first"})
dummies

,permno,year,xi,Npats,Tcw,Tsm,pc_1,pc_2,pc_4,pc_5,...,pc_715,pc_716,pc_717,pc_718,pc_719,pc_720,pc_725,pc_726,pc_800,pc_850
0,10006.0,1926,0.037569,10,18.980768,0.375693,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
1,10006.0,1927,0.047285,17,24.725719,0.803838,0.0,0,0,1,...,0.0,0,0,0,0,0,0,0,0.0,0
2,10006.0,1928,0.047869,15,34.932780,0.718042,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
3,10006.0,1929,0.060318,26,64.189056,1.568269,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
4,10006.0,1930,0.120779,16,35.434712,1.932471,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65322,93236.0,1997,0.279402,1,1.191137,0.279402,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
65323,93236.0,1998,0.107588,1,2.480992,0.107588,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
65324,93252.0,1985,0.141288,1,2.896310,0.141288,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
65325,93252.0,1989,0.092077,1,1.415194,0.092077,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
65326,93287.0,1986,0.415465,2,4.185905,0.830930,0.0,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0

In [36]:
cites_permno = ds.add_permno(cites, patents_firm_merge, save=False)

In [37]:
cites_permno

          citing    cited  citing_permno  cited_permno
0        2415090  2274164        15480.0       15480.0
1        2417395  2274164        15480.0       15480.0
2        2538680  2274164        15480.0       15480.0
3        2615677  2274164        15480.0       15480.0
4        2415092  2143140        14525.0       14525.0
...          ...      ...            ...           ...
8417299  7827605  7356844        75607.0       75607.0
8417300  7827605  7424735        75607.0       75607.0
8417301  7827608  7356545        12490.0       10104.0
8417302  7827611  7540031        77976.0       77976.0
8417303  7827616  7599605        53727.0       51131.0

[8417304 rows x 4 columns]

In [38]:
patent_cite = ds.patent_to_firm_cites(cites_permno)

In [39]:
patent_cite

        citing_permno  cited_permno  count      freq
0             10006.0       10006.0    518  0.324155
1             10006.0       10030.0      1  0.000626
2             10006.0       10102.0      4  0.002503
3             10006.0       10145.0      4  0.002503
4             10006.0       10161.0      1  0.000626
...               ...           ...    ...       ...
342328        93252.0       10751.0      1  0.071429
342329        93252.0       12060.0      4  0.285714
342330        93252.0       22533.0      6  0.428571
342331        93252.0       26454.0      1  0.071429
342332        93252.0       26489.0      2  0.142857

[342333 rows x 4 columns]